// views -> about.jade
extends layout

block content

	header(id='about-header')
		div(class='ui internally celled divided grid')
			div(id='about-header-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') About Robert
			div(class='ui seven wide column')
				div(class='ui segment')
					div(class='ui divided grid')
						div(class='ui sixteen wide column')
							h3(class='ui header') Robert Raleigh is a front-end web developer with MEAN stack skills
							p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
							p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the contracts I need in order to be successful.
						div(class='ui sixteen wide column')
							h4(class="ui header") Connect with Robert
							div(class="ui vertical list")
								a(href="mailto:robert@rgrindustries.com")
									i(class="fa fa-envelope fa-fw")
									span robert@rgrindustries.com
								a(href="tel:+15035026125")
									i(class="fa fa-phone fa-fw")
									span +1 (503) 502-6125
								a(href="http://www.github.com/robertgraleigh")
									i(class="fa fa-pencil-square-o fa-fw")
									span Message Robert
								a(href="http://www.twitter.com/robertgraleigh") @RobertGRaleigh
									i(class="fa fa-twitter fa-fw")
								a(href="http://www.linkedin.com/robertgraleigh", class="fa fa-linkedin fa-fw") RobertGRaleigh
								a(href="http://www.github.com/robertgraleigh") @RobertGRaleigh
									i(class="fa fa-github fa-fw")

	section(id='roberts-story')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide right aligned column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Robert's Story
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Robert is a blank and blank
					p Born in 1984, Robert was subjected of sexual assault at a young age. Robert was adopted by his first grade teacher at age nine. When Robert was thirteen, his biological father committed suicide.
					p In 2006, Robert was the first member of his biological family to graduate from college. Robert attended Portland State University.
					p In 2012, Robert launched Log Camp, a vocational training school for diverse, underserved youth, teaching coding, computer science, and software development skills.
					p In 2004, Robert formed Press Digital Magazine, a online publication explored hybrid print and digital distribution model.

	section(id='roberts-skillset')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Robert's Skillset
			div(class='ui nine wide column')
				div(class='ui segment')
					h3(class='ui header') Robert has a blend of technical and soft skills, from his extensive experience, including fundraising, grant-writing, and technical instruction teaching frontend development skills.
					p This is the area for the technical skills
					p This is the area for the technical skills
				div(class='ui row')
					div(class='ui segment')
						h3(class='ui header') Frontend languages
						div(class='ui horizontal list')
							div(class='ui item')
								img(src='/img/robert-g-raleigh.jpg', class='ui small image')
								h4(class='ui small center aligned header') HTML5
							div(class='ui item')
								img(src='/img/robert-g-raleigh.jpg', class='ui small image')
								h4(class='ui small center aligned header') CSS3
							div(class='ui item')
								img(src='/img/robert-g-raleigh.jpg', class='ui small image')
								h4(class='ui small center aligned header') Javascript
							div(class='ui item')
								img(src='/img/robert-g-raleigh.jpg', class='ui small image')
								h4(class='ui small center aligned header') PHP

	section(id='work-experience')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Work Experience
			div(class='ui seven wide column')
				div(class='ui divided items')
					each employer in employers
						div(class='ui item')
							div(class='image')
								img(src='#{employer.image}')
							div(class='ui top aligned content')
								h3(class='ui header') #{employer.title}
								p #{employer.company}
								p #{employer.dates}

	section(id='volunteer')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Volunteer
			div(class='ui seven wide column')
				div(class='ui divided items')
					each volunteer in volunteers
						div(class='ui item')
							div(class='image')
								img(src='#{volunteer.image}')
							div(class='ui top aligned content')
								h3(class='ui header') #{volunteer.title}
								p(class='ui header') #{volunteer.program}
								p #{volunteer.company}

	section(id='education')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Education
			div(class='ui seven wide column')
				div(class='ui divided items')
					each education in educations
						div(class='ui item')
							div(class='image')
								img(src='#{education.image}')
							div(class='ui top aligned content')
								h3(class='ui header') #{education.degree}
								p(class='ui header') #{education.program}
								p #{education.school}

	section(id='training')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Training
			div(class='ui seven wide column')
				div(class='ui divided items')
					each training in trainings
						div(class='ui item')
							div(class='image')
								img(src='#{training.image}')
							div(class='ui top aligned content')
								h3(class='ui small header')	#{training.school}
								h4(class='ui header') #{training.degree}
								p(class='ui header') #{training.program}

	section(id='testimonials')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Testimonials
			div(class='ui seven wide column')
				div(class='ui divided items')
					each testimonial in testimonials
						div(class='ui item')
							div(class='image')
								img(src='#{testimonial.image}')
							div(class='ui top aligned content')
								h3(class='ui header') #{testimonial.person}
								p #{testimonial.copy}

	section(id='contact-robert')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Contact Robert
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui header') Robert G. Raleigh
					p Robert is a fullstack web developer experience working in nonprofit, economic development, education, and technology sectors.
					h4(class='ui header') Contact Info
					ul(class='ui vertical list')
						div(class='ui item')
							a(href='tel:+15035026125')
								span +1 (503) 502-6125
						div(class='ui item')
							a(href='')
								span robert@rgr.com
						div(class='ui item')
							a(href='https://www.twitter.com/robertgraleigh') @RobertGRaleigh
						div(class='ui item')
							a(href='https://www.linkedin.com/in/robertgraleigh') @RobertGRaleigh
					h4(class='ui header') Office
					address Deskhub, 334 NW 11th Ave, Portland, OR 97204
					div(class='ui horizontal list')
						div(class='ui item')
							a(href='mailto:robert@raleighand.co', class='ui basic grey button') Email Robert
						div(class='ui item')
							a(href='tel:+15025026125', class='ui basic blue button') Call Robert
