// views -> company.jade

extends layout

block content

	header(id='company-header')
		div(class='ui internally celled padded grid')
			div(id='company-header-img', class='ui nine wide column')
				h1(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') #{pageHeader.title}
			div(class='ui seven wide column')
				div(class='ui raised segment')
					h3(class='ui header') Raleigh &amp; Co. is a digital web studio for helping entrepreneurs start, build, and sustain their big or small ideas business ideas.
					p We do this by offering consistent, quality web services.
					p Our services allow business owners to focus on essential priorities and goals without getting bogged down in ongoing business details.
					p An idea can be simple, or an idea can be complex.
					a(class='ui basic blue button') Test button
					a(class='ui basic blue button') Test button

	section(id='our-story')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Our Story
			div(class='ui seven wide column')
				div(class='ui raised segment')
					h3(class='ui header') Founded in x, this is the main section
					p I started Raleigh and Co, while. Throughout my life, I've been interested in the human spirit, and what leads us to excellence. The daily struggle to learn slide guitar, without access. It wasn't until later in my life, after college, I discovered a mentor. Mike Dobro Thunder McLaren. The importantce, of mentorship, and experts who can guide you, and fill in the knowledge you lack. In this modern, digital economy, we expect creators. Don't get stuck on DIY. The unDIY, Don't let DIY undo your dreams. Throughout his career, Robert has as a serial entrepreneur.
					p This is the second paragraph of the story section.
					p This is the third paragraph of the story section.
					p This is the fourth paragraph of the story section.
					p This is the fifth paragraph of the story section.

	section(id='our-founder')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Our Founder
			div(class='ui seven wide column')
				div(class='ui raised segment')
					img(src='http://placehold.it.500x300', class='ui image')
					p At Raleigh &amp; Co., our mission is ensure you succeed in achieving your dreams. For some clients, it's launching, or getting your artwork out there. For other clients, its about achieving financial. Robert Raleigh is an Alaskan-Native (Tlingit) independence by doing what you love.
					p This is the second paragraph of the story section.
					p This is the third paragraph of the story section.
					p This is the fourth paragraph of the story section.
					p This is the fifth paragraph of the story section.

	section(id='how-we-work')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') How We Work
			div(class='ui seven wide column')
				div(class='ui raised segment')
					div(class='ui list')
						div(class='ui item')
							span(class='ui bold') Transparency: Always being upfront about the work we do, never conceiling the price.
						div(class='ui item')
							span(class='ui bold') Honesty:
						div(class='ui bold') Integrity:

	section(id='ideal-clients')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Ideal Clients
			div(class='ui seven wide left aligned column')
				div(class='ui raised segment')
					h3(class='ui header') We excel at working with individual owners, and small teams in the nonprofit, education, technology, and startup sectors.
					p At Raleigh &amp; Company, we expect clients to pay in a timely fashion. This allows us to maintain trust. We

	section(id='projects')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Past Ventures
			div(class='ui seven wide column')
					div(class='ui divided items')
						each venture in ventures
							div(class='ui item')
								div(class='ui segment')
									div(class='ui vertical list')
										h3(class='left aligned uppercase header') #{venture.title}
										p #{venture.desc}
										p Dates: #{venture.dates} - Status: #{venture.status}
										a(href='#{venture.link}', class='ui #{disabled} basic blue button') #{venture.text}

	section(id='contact')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Contact Us
			div(class='ui seven wide column')
				div(class='ui raised segment')
					h3(class='ui header') Raleigh &amp; Co. is a digital business agency located in the always sunny Portland, OR
					div(class='ui horizontal list')
						div(class='ui item')
							img(src='/img/placeholder.png', class='ui responsive image')
						div(class='ui item')
							img(src='/img/placeholder.png', class='ui responsive image')
						div(class='ui item')
							img(src='/img/placeholder.png', class='ui responsive image')
					h4(class='ui bold') Offices
					address Deskhub, 334 NW 11th Ave, Portland, OR 97204
					ul(class='ui vertical list')
						div(class='ui item')
							a(href='')
								span info@rgrventures.com
						div(class='ui item')
							a(href='')
								span +1 (503) 502-6125
					a(href-'mailto:info@raleighandco.com', class='ui basic grey button') Email Us
					a(href-'tel:+15035026125', class='ui basic blue button') Call Us
					a(href='http://www.google.com', class='ui basic orange button') Get directions
