// index.jade
extends layout

block content

	header(id='home-header')
		div(class='ui internally celled padded grid')
			div(class='ui sixteen wide center aligned column')
				h1(class='ui large header') I'll help you build something extraordinary
				div(class='ui horizontal list')
					div(class='ui item')
						a(href='/about', class='ui basic blue button') Learn more
					div(class='ui item')
						a(href='/start', class='ui basic grey button') Get started

	section(id='')
		div(class='ui internally celled padded grid')
					div(class='ui two wide column')
					div(class='ui four wide center aligned column')
						img(src='/img/placeholder.png', class='ui centered responsive image')
						h3(class='ui header') Websites
					div(class='ui four wide center aligned column')
						img(src='/img/placeholder.png', class='ui centered responsive image')
						h3(class='ui header') online store
					div(class='ui four wide center aligned column')
						img(src='/img/placeholder.png', class='ui centered responsive image')
						h3(class='ui header') cms system
					div(class='ui two wide column')

	section(id='home-about-robert')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') #{header.mainHeader}
				h3(class='ui right aligned grey header') #{header.subHeader}
			div(class='ui seven wide column')
				h3(class='ui header') Helping independent professionals manage online expectations.
				p I'm like a swiss army knife on a camping trip, or an epoxy holding your team together.
				p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the
				| contracts I need in order to be successful.
				div(class='ui row')
					a(class='ui basic blue button') View Products
					a(class='ui basic grey button') View Services

	// GET the benefits from index controller
	section(id='benefits')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') #{benefit.header}
				h3(class='ui right aligned inverted grey header') #{benefit.subheader}
			div(class='ui seven wide column')
				div(class='ui divided items')
					each benefit in benefits
						div(class='ui item')
							div(class='image')
								img(src='#{benefit.image}')
							div(class='ui middle aligned content')
								h3(class='ui header') #{benefit.header}
								div(class='meta')
									span #{benefit.description}
								div(class='description')
									p Additional Details
									a(href='#{benefit.href}', class='ui basic blue button') #{benefit.button}

	// GET the products from index controller
	section(id='products')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Products
				h3(class='ui right aligned grey header') These are the digital web products, including websites, cms systems.
			div(class='ui nine wide column')
				div(class='ui divided items')
					each product in products
						div(class='ui item')
							div(class='image')
								img(src='#{product.image}')
							div(class='middle aligned content')
								h3(class='ui header') #{product.header}
								div(class='meta')
									span #{product.description}
								div(class='description')
									p Additional Details
									a(href='#{product.href}', class='ui basic blue button') #{product.button}

	// GET the services from index controller
	section(id='services')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column pattern_banner_img')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Services
				h3(class='ui right aligned grey header') A full suite of digital web and creative services for small and mid-size businesses.
			div(class='ui nine wide column')
				div(class='ui divided items')
					each service in services
						div(class='ui item')
							div(class='image')
								img(src='#{service.image}')
							div(class='middle aligned content')
								h3(class='ui header') #{service.header}
								div(class='meta')
									span #{service.description}
								div(class='description')
									p #{service.details}
									a(href='#{service.href}', class='ui basic blue button') #{service.button}
