extends layout

block content

	header(id='home-header')
		div(class='ui internally celled padded grid')
			div(id='swirl_banner_img', class='ui nine wide column')
				h1(class='ui uppercase center aligned inverted white header')
					span(class='blue bottom border') #{header.mainHeader}
				h3(class='ui center aligned header', style="font-size: 2rem; color: #f7f7f7 !important;") #{header.subHeader}
			div(class='ui seven wide column')
				h3(class='ui header') This is a sample of the paragraph section for the home page.
				p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the 
				| contracts I need in order to be successful.
				p This is a paragraph with all of the necessary content I need in order to launch this new startup idea of mine. To build up the 
				| contracts I need in order to be successful.
				a(class='ui basic blue button') View Products
				a(class='ui basic grey button') View Services

	section(id='products-section')
		div(class='ui internally celled padded centered grid')
			div(class='ui sixteen wide center aligned column')
				h2(class='ui header') I build maintainable products for people without much time on their hands. I provide regular support so you can build on your own goals. Focus on the key work.
			div(class='ui row')
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/placeholder.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Websites
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/placeholder.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Shops
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/placeholder.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Hybrid Apps
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/placeholder.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Articles
				div(class='ui three wide center aligned column')
					a(href='/blog')
						img(src='/img/placeholder.png', class='ui responsive centered image')
						h3(class='ui uppercase header') Articles

	// GET the benefits from index controller
	section(id='benefits')
		div(class='ui internally celled padded grid')
			div(id='swirl_banner_img', class='ui seven wide column')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Benefits
			div(class='ui nine wide column')
				div(class='ui divided items')
					each benefit in benefits
						div(class='ui item')
							div(class='image')
								img(src='#{benefit.image}')
							div(class='middle aligned content')
								a(class='header') #{benefit.header}
								div(class='meta')
									span #{benefit.description}
								div(class='description')
									div(class='extra')
										span Additional Details

	// GET the products from index controller 
	section(id='products')
		div(class='ui internally celled padded grid')
			div(id='swirl_banner_img', class='ui six wide column')
				h2(class='ui right aligned uppercase inverted white header')
					span(class='blue bottom border') Products
			div(class='ui ten wide column')
				div(class='ui divided items')
					each product in products
						div(class='ui item')
							div(class='image')
								img(src='#{product.image}')
							div(class='middle aligned content')
								a(class='header') #{product.header}
								div(class='meta')
									span #{product.description}
								div(class='description')
									div(class='extra')
										span Additional Details

	// GET the services from index controller
	section(id='services')
		div(class='ui internally celled padded grid')
			div(class='ui ten wide column')
				div(class='ui divided items')
					each product in products
						div(class='ui item')
							div(class='image')
								img(src='#{service.image}')
							div(class='middle aligned content')
								a(class='header') #{service.header}
								div(class='meta')
									span #{service.description}
								div(class='description')
									div(class='extra')
										span Additional Details
			div(id='swirl_banner_img', class='ui six wide column')
				h2(class='ui left aligned uppercase inverted white header')
					span(class='blue bottom border') Services