extends layout

block content

	header(id='portfolio-header')
		div(class='ui internally celled padded grid')
			div(id='portfolio-header-img', class='ui ten wide grey column')
				h1(class='ui uppercase grey right aligned header', style="font-size: 7rem; color: #f7f7f7 !important;")
					span(class='blue bottom border') #{banner.heading}
				p #{banner.copy}
			div(class='ui six wide column')
				h3(class='ui uppercase header') This is the header for the page
				p #{box.copyOne}
				p #{box.copyTwo}
				a(class='ui basic blue button') #{box.buttonOne}
				a(class='ui basic grey button') #{box.buttonTwo}

	section(id='ideal-clients')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class="blue bottom border") Ideal Clients
			div(class='ui seven wide left aligned column')
				div(class='ui segment')
					h3(class='ui header') The ideal clients are nonprofit, creatives, small-to-mid size businesses.
					p This is a eight wide column detailing the different types of ideal clients.


	section(id='past-projects')
		div(class='ui internally celled padded grid')
			div(class='ui seven wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted grey header') 
					span(class='blue bottom border') Past Projects
			div(class='ui nine wide column')
					div(class='ui divided items')
						each project in projects
							div(class='ui item')
								div(class='ui segment')
									img(src='/img/placeholder.png', class='ui responsive image')
									div(class='middle aligned content')
										h3(class='ui uppercase heading') #{project.company}
										p A simple website is used to promote a good or service. Works as information or signup , or simple marketing
