extends layout

block content

	header(id='portfolio-header')
		div(class='ui internally celled padded grid')
			div(id='portfolio-header-img', class='ui nine wide grey column')
				h1(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') #{pageHeader.title}
				h3(class='ui right aligned header') #{pageHeader.subtitle}
			div(class='ui seven wide column')
				div(class='ui segment')
					h3(class='ui uppercase header') #{pageInfo.header}
					p(class='ui text') #{pageInfo.firstCopy}
					p(class='ui text') #{pageInfo.secondCopy}

	section(id='client-work')
		div(class='ui internally celled padded grid')
			div(class='ui nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') Client Work
				h3(class='ui right aligned inverted grey header') Examples of current and past client work.
			div(class='ui seven wide column')
					div(class='ui divided items')
						each project in projects
							div(class='ui item')
								div(class='ui segment')
									div(class='ui horizontal list')
										div(class='ui item')
											img(src='#{project.imageOne}', class='ui responsive image')
										div(class='ui item')
											img(src='#{project.imageOne}', class='ui responsive image')
									div(class='middle aligned content')
										h3(class='ui uppercase heading', style='margin-top: 15px !important;') #{project.company}
										p(class='ui text') #{project.desc}
										a(href='#{project.link}', class ='ui #{project.disabled} basic grey button' , target="_blank") #{project.text}
