// services.jade

extends layout

block content

	header(id='services-header')
		div(class='ui internally celled padded grid')
			div(id='services-header-img', class='ui nine wide column')
				h1(class='ui uppercase right aligned inverted white header')
					span(class='blue bottom border') #{banner.heading}
					p #{banner.copy}
			div(class='ui seven wide column')
				h3(class='ui uppercase header') #{box.title}
				p #{box.copyOne}
				p #{box.copyTwo}
				a(class='ui basic blue button') #{box.buttonOne}
				a(class='ui basic grey button') #{box.buttonTwo}

	section(id='digital-services')
		div(class='ui internally celled padded grid')
			div(class='nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='bottom blue border') Services
				h3(class='ui grey right aligned header') This is the final supporting content for the top section of the website. This carries on the meaning of the page for people who scan.
			div(class='ui seven wide column')
				each service in services
					div(class='ui raised segment')
						h3(class='ui uppercase grey header') #{service.header}
						p(class='ui text') #{service.copy}
						a(class='ui basic blue button') #{service.button}
						
	section(id='service-packages')
		div(class='ui internally celled padded grid')
			div(class='nine wide column pattern_banner_img')
				h2(class='ui uppercase right aligned inverted white header')
					span(class='bottom blue border') Packages
				h3(class='ui grey right aligned header') This is the final supporting content for the top section of the website. This carries on the meaning of the page for people who scan.
			div(class='ui seven wide column')
				each package in packages
					div(class='ui raised segment')
						h3(class='ui uppercase grey header') #{package.header}
						p(class='ui text') #{package.description}
						a(class='ui basic blue button') #{package.button}